.logged-in.woocommerce-account .entry-content .woocommerce {
background-color: white;
padding: 20px;
color: black;
border: 1px solid white;
border-radius: 20px;
display: flex;
flex-direction: column;
}

/* .logged-in.woocommerce-account .entry-content .woocommerce p {
margin-top: 20px;
margin-bottom: 40px;
} */

.logged-in.woocommerce-account .entry-content .woocommerce .woocommerce-EditAccountForm p{
 font-size: 18px;
 display: flex;
 flex-direction: column;
}

.logged-in.woocommerce-account .entry-content .woocommerce .woocommerce-EditAccountForm input{
 width: 400px;
 height: 30px;
}
.woocommerce-MyAccount-navigation li a {
   color: black;
}

.woocommerce-MyAccount-content a{
   color: black;
}

.woocommerce-MyAccount-navigation ul{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.woocommerce-MyAccount-navigation {
   width: 100% !important;
   float: none !important;
}

.woocommerce-MyAccount-content {
   width: 100% !important;
   float: none !important;
}

.woocommerce-MyAccount-content .woocommerce-EditAccountForm {
   width: 100% !important;
   float: none !important;

}

.woocommerce-account .woocommerce-MyAccount-navigation li:first-child {
   padding-top: inherit !important;
}

.woocommerce-account .woocommerce-MyAccount-navigation li {
   padding-top: inherit!important;
   font-family: var(--wp--preset--font-family--monospace) !important;
}


/* .woocommerce form .show-password-input, .woocommerce-page form .show-password-input {
   right: 32rem !important;
   top: 0rem !important;
} */

.woocommerce-password-strength.bad {
   background-color: red !important;
   padding: 2px ;
}

h3 a{
   text-decoration: none;
}

.add_to_cart_button{
   background-color: white;
   color: black;
   border: 1px solid black;
   border-radius: 20px;
   padding: 10px;
   margin-top: 20px;
   width: 300px;
}

.woocommerce-breadcrumb {
   display: none;
}
.wp-block-woocommerce-cart{
   background-color: white;
   color: black;
   padding: 20px;
   border: 1px solid white;
   border-radius: 20px;
}

.wp-block-woocommerce-cart a{
   color: black;
}

.wc-block-cart__submit-container a{
   color: white;
}

.wc-block-components-product-metadata{
   display: none;
}

/* .wc-block-components-product-badge .wc-block-components-sale-badge{
   margin-bottom: 20px;
} */

.wc-block-cart-item__quantity{
   margin-top: 20px;
}

.wc-block-cart-item__image img{
   width: 200px !important;
   height: 200px !important;
   padding: 10px;
   max-width: fit-content !important;
}

.wc-block-cart-item__total{
   display: none;
}

.wc-block-cart-items__header-total{
   display: none;
}

.wp-block-woocommerce-checkout{
   background-color: white;
   color: black;
   padding: 20px;
   border: 1px solid white;
   border-radius: 20px;
}

h2.has-text-align-center.wp-block-post-title{
   display: none;
}


h1{
   font-family: var(--wp--preset--font-family--monospace) !important;
}

.wc-block-components-button__text{
   color: black;
}

.wp-element-button, .wp-block-button__link{
   background-color: white;
   color: black;
}

#customer_login{
   background: white;
   padding:20px;
   border: 1px solid white;
   border-radius: 20px;
}