.logged-in.woocommerce-account .entry-content .woocommerce {
background-color: white;
padding: 20px;
color: black;
border: 1px solid white;
border-radius: 20px;
display: flex;
flex-direction: column;
}

/* .logged-in.woocommerce-account .entry-content .woocommerce p {
margin-top: 20px;
margin-bottom: 40px;
} */

.logged-in.woocommerce-account .entry-content .woocommerce .woocommerce-EditAccountForm p{
 font-size: 18px;
 display: flex;
 flex-direction: column;
}

.logged-in.woocommerce-account .entry-content .woocommerce .woocommerce-EditAccountForm input{
 width: 400px;
 height: 30px;
}
.woocommerce-MyAccount-navigation li a {
   color: black;
}

.woocommerce-MyAccount-content a{
   color: black;
}

.woocommerce-MyAccount-navigation ul{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.woocommerce-MyAccount-navigation {
   width: 100% !important;
   float: none !important;
}

.woocommerce-MyAccount-content {
   width: 100% !important;
   float: none !important;
}

.woocommerce-MyAccount-content .woocommerce-EditAccountForm {
   width: 100% !important;
   float: none !important;

}

.woocommerce-account .woocommerce-MyAccount-navigation li:first-child {
   padding-top: inherit !important;
}

.woocommerce-account .woocommerce-MyAccount-navigation li {
   padding-top: inherit!important;
}

.woocommerce form .show-password-input, .woocommerce-page form .show-password-input {
   right: 32rem !important;
   top: 0rem !important;
}

.woocommerce-password-strength.bad {
   background-color: red !important;
}